body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@font-face { 
	font-family: AaCarrie; 
	src: url('AaCarrie.tff'); 
} 
/* header
-------------------------------------------------- */
.header {
	height: auto;
}
#logo {
	width: 100px;
	height: 100px;	
}
h1 {
	font-family: AaCarrie, sans-serif !important;
	color:#474c49;
}
#socialmedia {
	
}
/* nav-bar
-------------------------------------------------- */
span {
	font-family: AaCarrie, sans-serif !important;
	font-size: 1.5em;
}
.navbar {
	background-color:#f4a3a9;
	text-align: center;		
	
}

.navbtn1 {
	margin-right: 20px;
}
/* main
-------------------------------------------------- */
.row {
	margin:auto;
	text-align: center;
}
.expression {
	margin:auto;
	text-align:center;
}
.popular {
	background-color: #7cc3c7;
	margin-top:-1em;
	padding-bottom: 2em;
}
.happy {
	background-color:#259ba3;
	margin-top:-1em;
	padding-bottom: 2em;
}
.sad {
	background-color:#218b92;
	margin-top:-1em;
	padding-bottom: 2em;
}
.cute {
	background-color:#1d7c82;
	margin-top:-1em;
	padding-bottom: 2em;
}
.angry {
	background-color:#196c72;
	margin-top:-1em;
	padding-bottom: 2em;
}
.others {
	background-color:#165d61;
	margin-top:-1em;
	padding-bottom: 2em;
}
h2 {
	font-family: AaCarrie, sans-serif !important;
	text-align:center;
	margin:auto;
	padding: 1.2em 0 1.2em 0;
}

.floatybox div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 19%;
}
.floatybox {
	text-align: center;
	margin:1em 0 1em 0;
}
/* footer
-------------------------------------------------- */
.footer {
	background-color: #fdfceb;
}