body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* header
-------------------------------------------------- */
.header {
	height: auto;
}

#logo {
	height:auto;
}
/* nav-bar
-------------------------------------------------- */
span {
	font-family: sans-serif !important;
	font-size: 1.2em;
	vertical-align: middle;
}
#navbar1 {
	background-color:#f4a3a9;
	text-align: center;	
	
	*position: relative;
  *z-index: 2;
  padding-top:20px;
  padding-bottom:20px;
  overflow: visible;

}
.navbtn1 {
	margin-right: 20px;
	vertical-align: middle;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}
/* main
-------------------------------------------------- */
.row {
	margin:auto;
	text-align: center;
}
.expression {
	margin:auto;
	text-align:center;
}
.popular {
	background-color: #7cc3c7;
	margin-top:-1em;
	padding-bottom: 2em;
}
.happy {
	background-color:#259ba3;
	margin-top:-1em;
	padding-bottom: 2em;
}
.sad {
	background-color:#218b92;
	margin-top:-1em;
	padding-bottom: 2em;
}
.cute {
	background-color:#1d7c82;
	margin-top:-1em;
	padding-bottom: 2em;
}
.angry {
	background-color:#196c72;
	margin-top:-1em;
	padding-bottom: 2em;
}
.others {
	background-color:#165d61;
	margin-top:-1em;
	padding-bottom: 2em;
}
h2 {
	font-family: sans-serif !important;
	text-align:center;
	margin:auto;
	padding: 1.2em 0 1.2em 0;
}

.floatybox div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 19%;
}
.floatybox {
	text-align: center;
	margin:1em 0 1em 0;
}
/* footer
-------------------------------------------------- */
.footer {
	background-color: #fdfceb;
}