body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* header
-------------------------------------------------- */
.header {
	height: auto;
}

#logo {
	height:auto;
}

.socialmedia {
	background-color: #ffffff;
}

.share {
	padding-top:1em;
}
/* nav-bar
-------------------------------------------------- */
span {
	font-family: sans-serif !important;
	font-size: 1.2em;
	vertical-align: middle;
}

.nav-text {
	color:#ffffff;
}
#navbar1 {
	background-color:#e74c3c;
	text-align: center;	
	
	*position: relative;
  *z-index: 2;
  padding-top:20px;
  padding-bottom:20px;
  overflow: visible;

}
.navbtn1 {
	margin-right: 20px;
	vertical-align: middle;
	background-color: #ffffff;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
  	position: fixed;
    width: 100%;
}
/* main
-------------------------------------------------- */
.row {
	margin:auto;
	text-align: center;
}
.expression {
	margin-bottom:1em;
	text-align:center;
	color:#444444;
}
.popular {
	padding-bottom: 2em;
	background-color: #eeeeee;
}
.happy {
	margin-top:-1em;
	padding-bottom: 2em;
}
.sad {
	margin-top:-1em;
	padding-bottom: 2em;
	background-color: #eeeeee;
}
.cute {
	margin-top:-1em;
	padding-bottom: 2em;
}
.angry {
	margin-top:-1em;
	padding-bottom: 2em;
	background-color: #eeeeee;
}
.others {
	margin-top:-1em;
	padding-bottom: 2em;
}
.title1 {
	font-family: sans-serif !important;
	text-align:center;
	margin:auto;
	padding: 1.2em 0 1.2em 0;
	color:#e74c3c;
}

.floatybox div {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 19%;
}
.floatybox {
	text-align: center;
	margin:1em 0 1em 0;
}
/* footer
-------------------------------------------------- */
.footer {
	background-color: #fdfceb;
}